{% extends 'base.html' %}

{% block title %}File Detail{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ file.file_name }}</h1>
        <table class="table">
            <tbody>
                <tr>
                    <td><strong>File Type:</strong> {{ file.file_type }}</td>
                </tr>
                <tr>
                    <td><strong>Created At:</strong> {{ file.created_at }}</td>
                </tr>
                <!-- <tr>
                    <td><button id="download-button" class="btn btn-primary" type="button">Donwload</button></td>
                </tr> -->
            </tbody>
        </table>
    </div>

<!-- <script>
    var downloadButton = $('#download-button');
    downloadButton.on('click', function() {
        var fileId = {{ file.id }};
        $.getJSON({% url 'files:generate_url' file_name=file.file_name %});
    });
</script> -->
{% endblock %}
